<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-default techfont custom-navbar">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand bigbrand" href="#">My Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="https://github.com" target="_blank">GitHub Login</a></li>
            <li><a href="http://linkedin.com/in" target="_blank">LinkedIn</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="#">New Post</a></li>
            <li><a href="#">Drafts</a></li>
            <li><a href="#">Logout</a></li>
            <li><a> welcome : {{ user.username }}</a></li>

            {% else %}
            <li><a class="nav navbar-right" href="#"><span class="glyphicon glyphicon-user"></span>Login</a>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>
</body>
</html>